{{import os, glob}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School System</title>
    <link rel="stylesheet" href="{{=URL('static','css/style.css')}}"/>
</head>
<body>
    <h1>{{=title}}</h1>
    <button>
        {{=A(str(T('Register Student')),_href=URL('student','register'),_style="color: white;")}}
    </button>
    <button>
        {{=A(str(T('Manage Subjects')),_href=URL('subjects','index'),_style="color: white;")}}
    </button>
    <button>
        {{=A(str(T('Manage Classrooms')),_href=URL('classrooms','index'),_style="color: white;")}}
    </button>
    <button onclick="manageAssistance()">Manage Assistance</button>
    <script src="{{=URL('static', 'js/static/ts/home.js')}}"></script>
</body>
</html>
